body { font-family: 'Inter', sans-serif; transition: background 0.3s ease; }
.font-serif { font-family: 'Playfair Display', serif; }

/* Link Hover */
.nav-link { cursor: pointer; border-bottom: 2px solid transparent; transition: 0.3s; }
.nav-link:hover { border-bottom: 2px solid black; }

/* Animasi Artikel */
.news-item {
    transition: all 0.4s ease;
    opacity: 1;
}

.news-item:hover img {
    filter: brightness(80%);
}